<a href="https://colab.research.google.com/github/ChristianVaughn/BioInspiredML/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random, numpy as np, math, copy, matplotlib.pyplot as plt
import pandas as pd
from scipy.spatial import distance_matrix

#create list of 50 random cities. Probably need to make this a 2d array with an x,y component. 
cities = [random.sample(range(100), 2) for x in range(50)];
print(cities)

#tour = random.sample(range(50),50);
#print(tour)

#Generate a distance matrix from the list of 50 cities
df = pd.DataFrame(cities, columns=['xcord', 'ycord'])
cities_distance_matrix = pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)
#cities_distance_matrix.head()

#Randomly select a city to start at for both algorithms
root = random.randint(0,49) #Randomly select one vertex as the root.

[[34, 16], [31, 84], [75, 28], [56, 53], [99, 55], [14, 10], [44, 62], [55, 56], [38, 31], [18, 17], [58, 68], [11, 26], [12, 15], [31, 49], [52, 75], [62, 47], [60, 59], [90, 68], [35, 49], [0, 97], [40, 90], [92, 24], [69, 56], [7, 55], [50, 25], [15, 51], [18, 57], [74, 50], [22, 74], [28, 51], [95, 51], [37, 80], [53, 19], [33, 99], [50, 32], [72, 1], [49, 28], [34, 41], [92, 72], [92, 47], [82, 6], [19, 85], [86, 0], [16, 7], [7, 43], [37, 91], [80, 69], [56, 23], [65, 37], [57, 23]]

In [17]:
#Christian's code box. Start of ACO algo
ants= 5
pheromone_levels = [0,0]*50 #initialize pheromone levels all to 0 i think
pheromone_maxtix = pd.DataFrame(0.0,index=range(50),columns=range(50))
s_iter = []

for i in range(ants):
  currentlocation = root
  s = []
  possible_move_matrix = cities_distance_matrix.copy(deep=True) #do we need to remove the starting position?
  cost = pd.DataFrame(possible_move_matrix, columns=[currentlocation])
  phero = pd.DataFrame(pheromone_maxtix, columns=[currentlocation])
  possible_move_matrix = possible_move_matrix.drop(currentlocation) #remove starting posotion from possible moves
  #while len(possible_move_matrix) !=0:
  cost_phero = pd.DataFrame(cost)
  cost_phero['phero'] =  phero
  cost_phero.columns = ['cost', 'phero']
  cost_phero= cost_phero[cost_phero['cost'] != 0]

In [18]:
cost_phero.head()

        cost  phero
0  75.802375    0.0
1  73.925638    0.0
2  36.124784    0.0
3  43.046487    0.0
5  96.176920    0.0

In [3]:
#Rolo's code box. Heuristic algo - nearest neighbor
currentlocation = root
total = 0
route = []
citycopy = cities_distance_matrix.copy(deep=True)
citycopy = citycopy.replace(0, np.NaN)
route.append(currentlocation)
for i in range(len(cities)-1):
  nextlocation = citycopy[currentlocation].nsmallest(1,keep='first')
  total += nextlocation.iloc[0]
  route.append(nextlocation.index[0])
  citycopy = citycopy.drop(currentlocation)
  currentlocation = nextlocation.index[0]
total += cities_distance_matrix.loc[currentlocation,root]
route.append(root)
    #Find the vertex that is closest (more precisely, has the lowest cost) to the current position but is not yet part of the route, and add it into the route.
    #Repeat until the route includes each vertex.

In [4]:
print(route)

[4, 30, 39, 27, 22, 16, 7, 3, 15, 48, 2, 21, 40, 42, 35, 32, 47, 49, 24, 36, 34, 8, 37, 18, 13, 29, 26, 25, 23, 44, 11, 12, 5, 43, 9, 0, 6, 10, 14, 31, 1, 45, 20, 33, 41, 28, 19, 46, 17, 38, 4]